
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

.main-footer {
  margin-top: 2rem;
  padding: 1rem;
  /* position:fixed; */

  background-color: #717d67;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: -2%;
  }
  .link{
    color: rgb(85, 0, 0);
  }