@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');


.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.h1{
    font-size: 40px;
    font-weight: bold;
    margin-left: 60%;
    font-family: 'Tajawal', sans-serif;
        padding-top:15%;
        text-align: right;

}
.h2{  
    font-size: 20px;
    margin-left:60%; 
    text-align: right;
    font-family: 'Tajawal', sans-serif;
    padding-top:1%;
    font-weight: bold;

}
.h2-2{
    font-size: 20px;
    margin-left: 50%;
      text-align: right;
      padding-top:1%;
      font-family: 'Tajawal', sans-serif;

       

}

.icon{
    margin-right: 40%;
     text-align: right;
     margin-top: -100%;
     width: 100%;
    
}
.texticon{
    font-size: 15px;
    margin-right: -18%;
      text-align: right;
      margin-top:-15%;
      font-weight: bold;
      width: 100%;
      font-family: 'Tajawal', sans-serif;

}
.texticon0{
    font-size: 16px;
    margin-right: 20%;
      text-align: right;
      margin-top:5%;
      width: 100%;
      font-family: 'Tajawal', sans-serif;

}


.icon1{
    margin-right: 40%;
    padding-top: 451px;
     text-align: right;
     margin-top: -50%;
     width: 100%;
}

.texticon1{
    font-size: 15px;
    margin-right: -15%;
      text-align: right;
      margin-top:-15%;
      font-weight: bold;
      width: 100%;
      font-family: 'Tajawal', sans-serif;

}

.texticon1-0{
    font-size: 17px;
    margin-right: 20%;
      text-align: right;
      margin-top:5%;
      
      width: 100%;
      font-family: 'Tajawal', sans-serif;

}

.icon2{
    margin-right: 40%;
    padding-top: 451px;
     text-align: right;
     margin-top: -50%;
     width: 100%;
}
.texticon2{
    font-size: 15px;
    margin-right: -21%;
      text-align: right;
      margin-top:-15%;
      font-weight: bold;
      font-family: 'Tajawal', sans-serif;

      width: 100%;
}
.texticon2-0{
    font-size: 17px;
    margin-right: 20%;
      text-align: right;
      margin-top:5%;
      font-family: 'Tajawal', sans-serif;

      width: 100%;
}


.contanet{
    margin: 1%;
    flex-direction: column;
}