.btnStyle{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-right: 50px;
  

}

h2{
    text-align: center;
    margin-top: 150px;
    font-family: 'Tajawal', sans-serif;

}

  
  .menu-bars {
    font-size: 2rem;
    background: none;
    display: flex;
    text-align: right;    
    justify-content: center;
    position: absolute;
    top: 30px;
    right: 0px;
    font-family: 'Tajawal', sans-serif;

    margin-right: 2rem;
    transition: left .3s ease-in-out;
}
  
  .nav-menu {
    background-color: #717d67;;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: right;
    position: fixed;
    top: 0;
    right: 0;
    transition: 850ms;
    padding: 70px 10px 10px 0px;

  }
  
  .nav-menu.active {
    right: 0;


  }
  
  .nav-text {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-family: 'Tajawal', sans-serif;


  }
  
  .nav-text a:hover {
    background-color:darkgray;
    color:black ;
    justify-content: right;

  }
  
  .nav-menu-items {
    width: 100%;
    margin-top: 70px;
    justify-content: right;

  }
  
  .navbar-toggle {
   
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: -2rem;
    background: none;
    
    position: absolute;
    left: -60px;
    height: 60px;
    width: 60px;
    z-index: 1;
  }
  
  span {
    margin-right: 16px;
  }

